
<!DOCTYPE html>


<html>

  <head>
       
 <title>blog</title>
 
  </head>



<body>
 
   <h1>BLOG</h1>


     <form method="post">

         <label>
  
  <div>subject and your name</div>

<input type="text" name="subject" value={{subject}}>

          </label>


         <label>
    
	<br>
	<br>
              <div>content</div>

<textarea name="content" style="height:150px;width:500px;">{{content}}</textarea>

         </label>


        <div style="color:  red">{{error}}</div>


        <input type="submit">
 
   </form>

